* {
    font-family: Helvetica, Arial;
    border: 1px solid black;
    
}

*::-webkit-scrollbar{
    display: none;
}


:root {
    --base-light-grey: rgb(228, 228, 228);
    --color1: rgb(201, 201, 201);
    --color2: rgb(0, 0, 0);
    --color3: rgb(21, 255, 0);
}

h1 {
    font-size: 24px;
    margin: 0;
}
h2 {
    font-size: 1.5em;
}
p {
    margin:10px;
}

a {
    text-decoration: none;
}
a:visited {
    color: rgb(0, 0, 0);
}
a:hover {
    color: white;
    cursor: pointer;
}

html{
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    min-height: 100%;
    background-color: var(--base-light-grey);
}

form {
    display: flex;
    flex-direction: column;
}
input {
    border: 0;
    margin: 2px;
    text-align: center;
}
input:hover {
    background-color: rgb(21, 255, 0);
}


/* Header */
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}
.explore_account{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    color: var(--color2);
}

/* Main */
/* Explore section */

/* Card Section */
.card_section{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 90%;
    
}
.card {
    display:flex;
    flex-direction: column;
    align-items: center;
    
    margin: 10% 0 10% 0;
    border-radius: 30px;
    width: 100%;
    background-color: var(--color1);
    text-align: center;
}
.card img{
    width: 100%;

}

/* MY PROJECTS */
.my_projects_display {
    display: flex;
    flex-direction: row;
}
.title_artworksDisplay{
    display: flex;
    flex-direction: column;
    width: 50vw;
}
.proyects_artworks{
    display: flex;
    flex-direction: row;
    width: 50vw;
    justify-content: start;
}
.my_projects{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: left;

}
.artworks{
    height: 90vh;
    overflow:auto;
    width: 100%;
    box-sizing: border-box;
}
.artwork_info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
}
.artwork_display{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    justify-items: center;
    box-sizing: border-box;
}

.ghost_images{
    justify-items: center;
    align-self: center;
    max-height: 70vh;
    width: auto;
    max-width: 100%;
}


/* Footer */
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    background-color: rgb(221, 221, 221);
}
.social_network_logo{
    width: 38px;
    opacity: 0.3;
    transition: all 5s ease-in 0;
}
.social_network_logo:hover{
    opacity: 1;
}



/* States */
.hidden {
    display: none;
}
.selected {
    background-color: var(--color3);
}